@model Veterinaria.Web.Models.Pet

@{
    ViewBag.Title = "Details";
}

    <div class="row col-md-12 justify-content-between">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header py-2 bg-info">
                    <h5 class="text-center m-0 text-white">@Model.Name</h5>
                </div>
                <div class="card-body">
                    <table class="table table-sm">
                        <tr>
                            <td>Nombre: </td>
                            <td>@Model.Name</td>
                        </tr>
                        <tr>
                            <td>Tipo de Mascota: </td>
                            <td>@Model.PetType</td>
                        </tr>
                        <tr>
                            <td>Edad: </td>
                            <td>@Model.Age Meses</td>
                        </tr>
                        <tr>
                            <td>Fecha de Nacimiento: </td>
                            <td>@Model.BirthDate.ToShortDateString()</td>
                        </tr>
                        <tr>
                            <td>Color: </td>
                            <td>@Model.Color</td>
                        </tr>
                        <tr>
                            <td>Raza: </td>
                            <td>@Model.Race</td>
                        </tr>
                        <tr>
                            <td>Peso: </td>
                            <td>@Model.Weight kg</td>
                        </tr>
                        <tr>
                            <td>Altura: </td>
                            <td>@Model.Height m</td>
                        </tr>
                    </table>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
                        @Html.ActionLink("Cancelar", "Index")
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="">
                <div class="card mb-3">
                    <div class="card-header bg-info">
                        <h6>Fotografía</h6>
                    </div>
                    <div class="card-header">
                        @if (Model.ImgUrl == null)
                        {
                            <img src="~/Content/img/userunknown.jpg" class="img-thumbnail" width="550" />
                        }
                        else if (Model.ImgUrl != null)
                        {
                            <img src="~/Content/img/perfil/@Model.ImgUrl" class="img-fluid width="300"/>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="row justify-content-center m-3">
        <div class="col-md-10">
            <div class="card mb-4">
                <div class="card-header py-2 bg-dark">
                    <h6 class="text-white">Detalles</h6>
                </div>
                <div class="card-body">
                    <div>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PetType)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PetType)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Age)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Age)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.BirthDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.BirthDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Color)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Color)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Race)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Race)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Weight)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Weight)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Height)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Height)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Owner)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Owner)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
                        @Html.ActionLink("Cancelar", "Index")
                    </p>
                </div>
            </div>
        </div>
    </div>*@


